.create-room {
  display: flex;
  flex-direction: row;
}
.video-button {
  position: relative;
  z-index: 2;
  right: 20px;
  height: 95vh;
  width: 80vw;
  background: #191b1c;
  border-left: azure solid 2px;
  border-radius: 25px;
}
