.meme {
  position: relative;
  z-index: 2;
  right: 20px;
  height: 95vh;
  width: 80vw;
  background: #ffffff;
  border-radius: 25px;
  background: #191b1c;
  border-left: azure solid 2px;
  align-items: center;
  justify-content: center;
}
.main-meme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.meme-container {
  display: flex;
}
.meme {
  height: 95vh;
  width: 80vw;
  border-radius: 25px;
  overflow: scroll;
  overflow-x: hidden;
  align-content: center;
  justify-content: center;
}

.meme-container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.card-content {
  margin: 5px;
  padding: 10px;
  height: 45vh;
  width: 35vw;
}
.image {
  height: 35vh;
  width: 25vw;
}
