.main-div{
  height: 95vh;
  width: 80vw;
  overflow: scroll;
  overflow-x: hidden;
  align-content: center;
  justify-content: center;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
