.youtube {
  position: relative;
  z-index: 2;
  right: 20px;
  background: #ffffff;
  border-radius: 25px;
  background: #191b1c;
  border-left: azure solid 2px;
  height: 95vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
  align-content: center;
  justify-content: center;

}
.name{
  font-size: 30px;
}